[project]
name = "vechord"
dynamic = ["version"]
description = "VectorChord Python SDK"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "en-core-web-sm",
    "httpx>=0.28.1",
    "msgspec>=0.19.0",
    "numpy>=2.0.2",
    "openai>=1.59.7",
    "pgvector>=0.3.6",
    "psycopg[binary]>=3.2.3",
    "pypdf>=5.1.0",
    "spacy>=3.8.4",
]

[project.scripts]
vechord = "vechord.main:main"

[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[dependency-groups]
dev = [
    "pdm-backend>=2.4.3",
    "ruff>=0.9.1",
]

[tool.ruff]
target-version = "py39"
[tool.ruff.lint]
select = ["E", "F", "G", "B", "I", "SIM", "TID", "PL", "RUF"]
ignore = ["E501"]
[tool.ruff.lint.isort]
known-first-party = ["vechord"]
[tool.ruff.lint.pylint]
max-args = 7

[tool.pdm]
distribution = true
[tool.pdm.version]
source = "scm"
fallback_version = "0.0.0"
write_to = "vechord/__version__.py"
write_template = "__version__ = '{}'"

[tool.uv.sources]
en-core-web-sm = { url = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl" }
