name: Python Check

on:
  push:
    branches: [ "main" ]
    paths:
      - 'vechord/**'
      - 'examples/**'
      - '.github/workflows/check.yml'
      - 'pyproject.toml'
      - 'Makefile'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'vechord/**'
      - 'examples/**'
      - '.github/workflows/check.yml'
      - 'pyproject.toml'
      - 'Makefile'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
        ignore-nothing-to-cache: true
    - name: Lint
      run: make lint
    - name: Test
      env:
        PYTEST_ADDOPTS: -s
        IMAGE: kemingy/vechord:latest
      run: |
        docker run --rm -d -p 5432:5432 --name vdb -e POSTGRES_PASSWORD=postgres --health-cmd="pg_isready -U postgres" --health-interval=1s --health-timeout=1s --health-retries=5 ${IMAGE}

        # Wait for the container to be healthy
        for i in {1..10}; do
          if [ "$(docker inspect --format='{{.State.Health.Status}}' vdb)" == "healthy" ]; then
            echo "Database container is healthy."
            break
          fi
          echo "Waiting for database container to become healthy... ($i/10)"
          sleep 1
        done
        
        make test
        docker stop vdb
